<div class="bg-light border col-6">
    <h4 class="text-secondary">Product - @prod.Id</h4>

    <input type="checkbox" @onchange="FavoriteUpdated" /> Add to Favorites <br /><br />

    Name - @prod.Name <br />
    Show Properties :
    <input type="checkbox" @bind="prod.IsActive" />

    @if (prod.IsActive)
    {
        @foreach (var prodProp in prod.ProductProperties)
        {
            <p>@prodProp.Key - @prodProp.Value</p>
        }
    }
    <br />
    <DeleteButtonComponent ProductId="@prod.Id">

    </DeleteButtonComponent>

</div>

@code {
    [Parameter]
    public Product prod { get; set; }

    [Parameter]
    public EventCallback<bool> OnFavoriteUpdated { get; set; } //มาจากแม่


    private async Task FavoriteUpdated(ChangeEventArgs args) //ลูก
    {
        await OnFavoriteUpdated.InvokeAsync((bool)(args.Value ?? false));
    }


}
